{% if environment == "prod" -%}
kitshn.yarden-zamir.com
{%- else -%}
pr.{{ environment.removeprefix("pr-") }}.kitshn.yarden-zamir.com
{%- endif %} {
    encode zstd gzip
    reverse_proxy unix//{{ paths.default_socket }}
}
